/* INPUT STYLES */

.input-container {
  cursor: text;
  width: 100%;
  margin-bottom: 1em;
}

.input {
  height: 100%;
  flex: 10;
  border: none;
  color: var(--secondary-color);
  padding: 0;
}

.input::placeholder {
  color: var(--light-grey);
}

.input:focus {
  outline: none;
}

.input-icon {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: var(--light-grey);
  transition: 250ms ease-in-out;
}

.input-group {
  padding: 0.5em 0.75em;
  display: flex;
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  transition: 250ms ease-in-out;
}

.input-group.focus {
  border: 1px solid var(--focus-color);
}

.input-group.error {
  border: 1px solid var(--error-color);
}

.focus {
  color: var(--focus-color);
}

.error-message {
  width: 100%;
  color: var(--error-color);
  transition: 250ms ease-in-out;
}

.visible {
  opacity: 1;
}

.error {
  color: var(--error-color);
}
