/* TEXT AREA STYLES */
textarea {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 75px;
  padding-left: 7px;
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 3px solid var(--light-grey);
}
textarea::placeholder {
  color: var(--light-grey);
}
