.new-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

.recipe-form-card {
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
