.new-recipe-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}

.recipe-info-card {
  margin: 10px;
  justify-self: center;
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Media Query to handle max-width on mobile devices */
.ingredients-card {
  margin: 10px;
  min-width: 500px;
  justify-self: center;
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ingredient-input {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.ui.input {
  flex: 1;
}

.close-btn {
  background: none !important;
}
