.new-recipe-container {
  flex: 1;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.recipe-form-card {
  flex-basis: 50%;
  min-width: 300px;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ingredient-input {
  margin-bottom: 10px;
}
