.formFooter {
  margin-top: 10px;
}

.sign-up-form {
  align-self: center;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.sign-in-container {
  height: calc(100% - 60px);
}

.input {
  font-size: 20px;
  border: none;
  color: var(--secondary-color);
}

.input:focus {
  outline: none;
}

.input-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.input-container {
  display: flex;
  border-bottom: 2px solid var(--secondary-color);
}

.input-container.focus {
  border-bottom: 2px solid blue;
}

.error {
  border-bottom: 2px solid red;
}
