.formFooter {
  margin-top: 10px;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sign-up-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sign-in-container {
  height: calc(100% - 60px);
}

.input-container {
  width: 100%;
  margin-bottom: 10px;
}

.input {
  flex: 10;
  font-size: 16px;
  border: none;
  color: var(--secondary-color);
}

.input::placeholder {
  color: var(--light-grey);
}

.input:focus {
  outline: none;
}

.input-icon {
  flex: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--light-grey);
  transition: 250ms ease-in-out;
}

.input-group {
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--light-grey);
  transition: 250ms ease-in-out;
}

.input-group.focus {
  border-bottom: 3px solid var(--focus-color);
}

.input-group.error {
  border-bottom: 3px solid var(--error-color);
}

.focus {
  color: var(--focus-color);
}

.error-message {
  opacity: 0;
  min-height: 20px;
  width: 100%;
  color: var(--error-color);
  transition: 250ms ease-in-out;
}

.visible {
  opacity: 1;
}

.error {
  color: var(--error-color);
}


/* BUTON STYLES */

.btn {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #B03A48;
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
}
