.main {
  margin-top: 60px;
  height: 100%;
  background-color: #FAFAFA;
}

.ui.fixed.menu {
  background-color: #ffffff;
}

.ui.vertical.menu .item>i.icon {
  float: left;
  margin-right: 2em;
  margin-left: 0;
}

.ui.drawer {
  text-align: center;
}

.ui.vertical.menu .removeIcon {
  display: flex;
  align-items: center;
}
