.main {
}

.ui.fixed.menu {
  background-color: #ffffff;
}

.ui.vertical.menu .item>i.icon {
  float: left;
  margin-right: 2em;
  margin-left: 0;
}

.ui.drawer {
  text-align: center;
}

.ui.vertical.menu .removeIcon {
  display: flex;
  align-items: center;
}

.layout {
  display: grid;
  grid-template-rows: 56px auto;
  grid-row-gap: 10px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'drawer-icon . sub-menu';
  align-items: center;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  padding: 2rem;
}

.drawer-icon {
  grid-area: drawer-icon;
}

.sub-menu {
  height: 40px;
  display: flex;
  align-items: center;
  grid-area: sub-menu;
  align-self: center;
}

.sign-in-btn {
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.2s;
}

.sign-up-btn {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
}

.sign-up-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
